@{
    ViewBag.Title = "Generar reporte";
}

@using EjemploGenerarReporteITextSharp.Models


@model Solicitante

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("GenerarReporte", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(x => Model.Nombre, new { @class = "form-control" });

            <input type="submit" value="Generar reporte" />
        }


    </div>

</div>